html {
    box-sizing: border-box;
    background-color: #fffbf0;;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0 auto;
    font-family: 'Oswald', Verdana, Arial, sans-serif;
}

header {
    background-color: #e4ddf4;
    color: #282612;
    padding: 20px;
    text-align: center;
    font-size: 48px;
}

.navbar {
    overflow: hidden;
    background-color: #943d24;
    border-bottom: 10px solid #943d24;
}

.navbar a {
    float: left;
    display: block;
    color: #fffbf0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #e4ddf4;
    color: #282612;
}

h1 {
    font-weight: 400;
    text-align: center;
}

.hobbies {
    min-height: 250px;
}

.experience {
    min-height: 250px;
}

.contact-container {
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    margin-bottom: 10%;
}

.full-width {
    width: 100%;
}

.grid-3-col {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item {
    padding: 20px;
}

.card {
    box-shadow: 0 4px 8px 0 #e4ddf4(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 95%;
}

.card-title {
    text-align: center;
    font-size: 2em;
    color: #282612;
    font-weight: 400;
}

.card-content {
    padding: 2px 16px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 #e4ddf4(0, 0, 0, 0.2);
}

.form {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-left: 20%;
}

.form-field {
    padding: 20px;
}

.btn {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 15px 32px;
    color: #282612;
}

.input {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn-primary {
    background-color: #943d24;
    color: #e4ddf4;
}

.btn-primary:hover {
    background-color: #e4ddf4;
    color: #282612;
}

.full-width {
    width: 100%;
}